html,
body,
#root {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #d0d0d0;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

a {
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app {
  display: flex;
  position: relative;
}

.content {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  min-width: 100vw;
  /* max-width: 100vw; */
  padding-top: 10vh;
  display: flex;
  flex-direction: row;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.auth {
  min-height: 100vh;
  min-width: 100vw;
  background-image: url("@/assets/Background.jpg");
  background-size: 100vw 100vh;
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
:root {
  --primary-color: #141718;
  --secondary-color: #d5dadc;
  --tertiary-color: #81c784;
  --loading-primary-color: #64b5f6;
  --loading-secondary-color: #1976d2;
  --success-primary-color: #a5d6a7;
  --success-secondary-color: #4caf50;
}

.home {
  padding: 20px;
  height: 100%;
  width: 100%;
}

.navigation {
  padding: 24px 2vw;
  color: var(--primary-color);
}

#navigation-menu .navigation:hover {
  background: var(--primary-color);
  color: var(--secondary-color);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
  opacity: 0.5;
}

#navigation-menu a.active {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  opacity: 0.75;
}

.login-box {
  color: #6c7275;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: #fff;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  font-size: 0.9rem;
}

.login-box h1 {
  margin: 0 0 50px;
  padding: 0;
  color: #141718;
  text-align: center;
  font-weight: 600;
}

.login-box form {
  margin: 20px;
}

.login-box .user-box {
  position: relative;
  padding: 10px 0;
}

.login-box form .submit,
.login-box form .authenticating,
.login-box form .autheticated {
  position: relative;
  color: #fff;
  display: inline-block;
  padding: 10px 0px;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 50px;
  border-radius: 5px;
  width: 100%;
  text-align: center;
}

.login-box form .error {
  position: relative;
  display: inline-block;
  padding: 10px 0px;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 50px;
  border-radius: 5px;
  width: 100%;
  text-align: center;
}

.login-box form .submit {
  background-color: var(--primary-color);
}

.login-box form .authenticating {
  background-color: var(--loading-primary-color);
}

.login-box form .authenticated {
  background-color: var(--success-primary-color);
}

.login-box .submit:hover {
  background: var(--success-secondary-color);
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px var(--success-primary-color),
    0 0 25px var(--success-primary-color), 0 0 50px var(--success-primary-color),
    0 0 100px var(--success-primary-color);
}

.login-box .authenticating span {
  position: absolute;
  display: block;
  border-radius: 5px;
}

.login-box .authenticating span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(
    to right,
    var(--loading-secondary-color),
    var(--loading-primary-color)
  );
  animation: btn-animate1 1s linear infinite;
}

@keyframes btn-animate1 {
  0% {
    left: -100%;
  }

  50%,
  100% {
    left: 100%;
  }
}

.login-box .authenticating span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(
    to bottom,
    var(--loading-secondary-color),
    var(--loading-primary-color)
  );
  animation: btn-animate2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes btn-animate2 {
  0% {
    top: -100%;
  }

  50%,
  100% {
    top: 100%;
  }
}

.login-box .authenticating span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(
    to left,
    var(--loading-secondary-color),
    var(--loading-primary-color)
  );
  animation: btn-animate3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes btn-animate3 {
  0% {
    right: -100%;
  }

  50%,
  100% {
    right: 100%;
  }
}

.login-box .authenticating span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(
    to top,
    var(--loading-secondary-color),
    var(--loading-primary-color)
  );
  animation: btn-animate4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes btn-animate4 {
  0% {
    bottom: -100%;
  }

  50%,
  100% {
    bottom: 100%;
  }
}

.login-box a,
.login-box .redirect {
  font-weight: 600;
  overflow: hidden;
  color: #38cb89;
}

.login-box .spacing {
  margin-top: 10px;
  margin-bottom: 20px;
}

.login-box form a div {
  color: #141718;
  font-weight: 600;
}

:root {
  --transparent-black: rgba(0, 0, 0, 0.294);
  --black: #111111;
  --grey: rgba(255, 255, 255, 0.597);
  --orange: #ff805d;
  --green: rgb(54, 234, 54);
  --orange-gradient: linear-gradient(
    268.35deg,
    rgba(255, 70, 70, 0.99) 3.47%,
    rgba(255, 114, 70, 0.99) 60.18%
  );
}

body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}
#dashboard {
  height: 100vh;
  width: 100vw;
  background-color: var(--black);
  color: white;
  font-family: "Public Sans", sans-serif;
  overflow: hidden;
}

.theme-container {
  background: rgba(0, 0, 0, 0.59);
  border-radius: 20px;
  padding: 2rem;
}

.gradient-red {
  position: absolute;
  width: 200px;
  height: 200px;
  background: #ff5d5d;
  filter: blur(90px);
}
.gradient-orange {
  position: absolute;
  width: 200px;
  height: 200px;
  background: var(--orange);
  filter: blur(90px);
}
.gradient-blue {
  position: absolute;
  width: 200px;
  height: 200px;
  background: #5dc9ff;
  filter: blur(90px);
}

.grey-container {
  border-top: 0.3px solid rgba(255, 255, 255, 0.185);
  border-bottom: 0.3px solid rgba(255, 255, 255, 0.185);
  background: linear-gradient(
    90deg,
    rgba(53, 53, 53, 0) 1.21%,
    rgba(53, 53, 53, 0.46) 49.45%,
    rgba(53, 53, 53, 0) 103.83%
  );
  padding: 1.5rem 1rem;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  width: 5px;
}

.footer {
  width: 100%;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  min-height: 100px;
  padding: 10vh 10vw;
}

.footerButton,
.footerLink {
  color: var(--secondary-color);
}
